@import '../../stylesheets/colors';
@import '../../stylesheets/mixins';

.button {
  // min-width: 10rem;
  height: 34px;
  line-height: 34px;
  background-color: $color-primary;
  color: $color-white;
  font-size: 1.125rem;
  border-radius: 3rem;
  font-family: 'Avenir Medium';
  border-width: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0px;

  // @include media(xs) {
  //   min-width: 25rem;
  // }

  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  &:focus {
    outline: none;
  }
  &:hover {
    cursor: pointer;
    background-color: $color-secondary;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
  }
  &:active {
    background-color: lighten($color-primary, 20%);
  }
}

.noblink {
  &:hover,
  &:active {
    cursor: default;
    background-color: $color-primary;
    box-shadow: none;
  }
}
