$color-pink: #ef1b71;
$color-primary: rgb(92, 65, 208);
$color-black: #222222;
$color-secondary: rgb(147, 122, 250);
$color-bg: #f1f1f1;
$color-white: #fff;
$color-blue: #1d2c66;
$color-grey: #f1f1f1;
$color-creme: #fffdd0;
$color-grey-1: #808080;
$color-error: red;
$color-dark-grey: #a9a9a9;

$color-text-blue: #232d56;
$color-button-blue: #232d56;
$color-button-light: #00c9bd;
$color-button-text: #fff;
$color-divider-blue: #1d2c66;
$color-title-blue: #1d2c66;

$color-app-light-blue: #7db6ed;
$color-chocolate: #d2691e;
$color-dark-chocolate: #bd5c17;
